/* The animation code */
@keyframes fadein-upward {
  0% {
    opacity: 0;
    transform: translateY(50%);
    
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
    
    
  }
}

/* The animation code */
@keyframes fadein-downward {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
    
  }
}

/* The animation code */
@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
    
  }
}

/* The animation code */
@keyframes fadein-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
    
  }
}

/* The animation code */
@keyframes add-card-bg {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: var(--background-color);
    
  }
}
